Repository digraphs/Digraphs, pull requests merged in 2019-09, with the labels that each got.

#239 Update doc in digraph.xml for mutable digraphs
  doc/digraph.xml
  gap/digraph.gd
Labels: doc

#243 Make gap/cliques.gi always return immutable lists (of lists)
  gap/cliques.gi
  tst/standard/cliques.tst
Labels: bugfix

#241 Update label doc for mutable digraphs
  doc/labels.xml
Labels: doc

#246 Update doc in prop.xml for mutable digraphs
  doc/prop.xml
Labels: doc

#238 Update clique/planar doc for mutable digraphs
  doc/cliques.xml
  doc/planar.xml
Labels: doc

#242 Documentation update: attr.xml
  doc/attr.xml
Labels: doc

#254 Fix bliss usage message
  gap/isomorph.gi
Labels: bugfix

#261 Update contributors and add blurb to intro
  PackageInfo.g
  doc/z-chap0.xml
Labels: doc

#255 Update grape.xml documentation
  doc/grape.xml
Labels: doc

#256 Add InstallMethodThatReturnsDigraph
  gap/attr.gd
  gap/attr.gi
  gap/digraphs.g
  gap/isomorph.gd
  gap/isomorph.gi
Labels: enhancement

#259 Update grahom.xml
  doc/grahom.xml
Labels: doc

#253 Update orbits doc for mutable digraphs
  doc/orbits.xml
Labels: doc, merge-in-to-master

#258 Update the doc in examples.xml
  doc/examples.xml
Labels: doc

#263 Update constructors.xml for mutable digraphs
  doc/constructors.xml
Labels: doc

#252 Update oper.xml for mutable digraphs
  doc/oper.xml
Labels: doc
