Repository digraphs/Digraphs, pull requests merged in 2025-04, with the labels that each got.

#726 Expand named entity GAPDoc calls in Abstract(HTML)
  PackageInfo.g
Labels: gap-days-brussels-2025

#403 Add `PancakeGraph`
  doc/examples.xml
  doc/grape.xml
  doc/z-chap2.xml
  gap/examples.gd
  gap/examples.gi
  gap/grape.gd
  gap/grape.gi
  tst/standard/examples.tst
  tst/standard/grape.tst
Labels: new-feature, gap-days-brussels-2025

#752 Add more descriptive warning when using `NautyAutomorphismGroup` with `MultiDigraph`s
  gap/isomorph.gi
Labels: error-messages

#751 Edge weights #5: maximum flow
  doc/weights.xml
  doc/z-chap5.xml
  gap/weights.gd
  gap/weights.gi
  tst/standard/weights.tst
Labels: enhancement

#754 Cyclic Edge Cut
  doc/attr.xml
  doc/z-chap4.xml
  gap/attr.gd
  gap/attr.gi
  tst/standard/attr.tst
Labels: new-feature, waiting for creator input, gap-days-brussels-2025

#651 Dreadnaut support
  doc/io.xml
  doc/z-chap9.xml
  gap/io.gd
  gap/io.gi
  tst/standard/io.tst
Labels: new-feature, gap-days-brussels-2025

#706 Quick Refactor for UndirectedSpanningForest Function
  gap/attr.gi
Labels: refactor, gap-days-brussels-2025

#267 Speed up `OnDigraphs` for a digraph and a permutation
  gap/attr.gi
  gap/grahom.gi
  gap/isomorph.gi
  gap/oper.gd
  gap/oper.gi
  tst/standard/oper.tst
Labels: gap-days-brussels-2025

#491 Add Zykov and Christofides Algorithms for Chromatic Number
  doc/attr.xml
  doc/digraphs.bib
  gap/attr.gi
  tst/standard/attr.tst
Labels: new-feature, gap-days-brussels-2025

#755 Edge weights #6: RandomUniqueEdgeWeightedDigraph
  doc/weights.xml
  doc/z-chap5.xml
  gap/weights.gd
  gap/weights.gi
  tst/standard/weights.tst
Labels: new-feature, gap-days-brussels-2025

#757 Always close files (`ReadDigraphs`, `WriteDigraphs`)
  gap/io.gi
  tst/standard/io.tst
Labels: bugfix
